@import "tailwindcss";

/* Custom POS styles */
body {
  @apply bg-gray-100 text-gray-900;
}

button {
  @apply transition-all duration-200;
}
custom-toast {
  border-radius: 14px !important;
  padding: 14px !important;
  background: rgba(255, 255, 255, 0.75) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
}

/* Text trong toast */
.custom-toast-body {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

/* Màu pastel cho từng loại toast */
.Toastify__toast--success {
  background: #e6fffa !important;
  color: #0f766e !important;
}

.Toastify__toast--error {
  background: #fee2e2 !important;
  color: #b91c1c !important;
}

.Toastify__toast--info {
  background: #dbeafe !important;
  color: #1e3a8a !important;
}

.Toastify__toast--warning {
  background: #fef9c3 !important;
  color: #854d0e !important;
}